aniso8601
certifi
charset-normalizer
click
Flask
Flask-REST
Flask-RESTful
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
PyMySQL
pytz
PyYAML
requests
six
SQLAlchemy
typing_extensions
urllib3==1.26.14
waitress
Werkzeug
xmltodict
uuid
selenium
webdriver_manager