[Unit]
Description=Spillman API
After=syslog.target network.target

[Service]
WorkingDirectory=/opt/spillman-api/prod
ExecStart=/opt/spillman-api/prod/venv/bin/python3 /opt/spillman-api/prod/app.py

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
