option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
    
packages:
  yum:
    unzip
    
commands:
  01_get_chromedriver:
    cwd: /tmp
    command: 'wget -N https://chromedriver.storage.googleapis.com/114.0.5735.90/chromedriver_linux64.zip'
    
  02_unzip_chromedriver:
    cwd: /tmp
    command: 'unzip -o chromedriver_linux64.zip'
    
  03_move_chromedriver:
    cwd: /tmp
    command: 'mv -f chromedriver /usr/bin/chromedriver'
    
  04_chown_chromedriver:
    command: 'chown root:root /usr/bin/chromedriver'
    
  05_chmod_chromedriver:
    command: 'chmod 755 /usr/bin/chromedriver'