option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
    
packages:
  yum:
    unzip
    
commands:
  01_get_chromedriver:
    cwd: /tmp
    command: 'wget -N https://chromedriver.storage.googleapis.com/114.0.5735.90/chromedriver_linux64.zip'
    
  02_unzip_chromedriver:
    cwd: /tmp
    command: 'unzip -o chromedriver_linux64.zip'
    
  03_move_chromedriver:
    cwd: /tmp
    command: 'mv -f chromedriver /usr/bin/chromedriver'
    
  04_chown_chromedriver:
    command: 'chown root:root /usr/bin/chromedriver'
    
  05_chmod_chromedriver:
    command: 'chmod 755 /usr/bin/chromedriver'
    
  06_get_chrome_beta:
    cwd: /tmp
    command: 'wget -N https://gist.githubusercontent.com/free-lunch/c6e7958bee01bcb79bf5301c3884d928/raw/gistfile1.txt'
    
  07_chmod_chrome_install:
    cwd: /tmp
    command: 'chmod +x gistfile1.txt'
    
  08_install_chrome:
    cwd: /tmp
    command: './gistfile1.txt'
    
  09_mv_old_chrome:
    command: 'mv /usr/bin/google-chrome /usr/bin/google-chrome-old'
    
  10_mv_new_chrome:
    command: 'mv /usr/bin/google-chrome-beta /usr/bin/google-chrome'