option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
    
packages:
  yum:
    unzip: []
    
commands:
  01_get_chromedriver:
    cwd: /tmp
    command: 'wget -N https://chromedriver.storage.googleapis.com/114.0.5735.90/chromedriver_linux64.zip'
    
  02_unzip_chromedriver:
    cwd: /tmp
    command: 'unzip chromedriver_linux64.zip'
    
  03_move_chromedriver:
    cwd: /tmp
    command: 'mv -f chromedriver /usr/bin/chromedriver'
    
  04_chown_chromedriver:
    command: 'chown root:root /usr/bin/chromedriver'
    
  05_chmod_chromedriver:
    command: 'chmod 755 /usr/bin/chromedriver'
    
  06_get_chrome:
    cwd: /tmp
    command: 'curl https://intoli.com/install-google-chrome.sh | bash'
    
  07_create_opt_google_dir:
    cwd: /opt
    command: 'mkdir google'
  
  08_create_chrome_dir:
    cwd: /opt/google
    command: 'mkdir chrome'
    
  09_move_chrome:
    command: 'mv /usr/bin/google-chrome-stable /opt/google/chrome/google-chrome'