{
  "swagger": "2.0",
  "info": {
    "description": "The Spillman API is an attempt to modernize the Spillman DataExchange for further application development on top of Spillman data. It takes a typical URL based GET request, translates it into the XML POST request DataExchange expects, and then converts the DataExchange XML output into standardized JSON. This also allows for ease of upgrades in the event Spillman changes something.",
    "version": "1.0.0",
    "title": "Spillman API",
    "contact": {
      "email": "lhaynie@sccity.org"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "spillmanapi.scifire.us",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "name": "token",
      "in": "query"
    }
  },
  "paths": {
    "/cad/active": {
      "get": {
        "summary": "Get active calls",
        "security": [
          {
            "api_key": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/cad/active/units": {
      "get": {
        "summary": "Get active units",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/avl": {
      "get": {
        "summary": "Get AVL information",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/incidents/cad": {
      "get": {
        "summary": "Get CAD incidents",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/cad/comments": {
      "get": {
        "summary": "Get CAD comments",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/incidents/ems": {
      "get": {
        "summary": "Get EMS incidents",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/emd": {
      "get": {
        "summary": "Get EMD information",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/incidents/fire": {
      "get": {
        "summary": "Get fire incidents",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/incidents/law": {
      "get": {
        "summary": "Get law incidents",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/incidents/law/narrative": {
      "get": {
        "summary": "Get law incident narratives",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/name/image": {
      "get": {
        "summary": "Get name images",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/name/involvements": {
      "get": {
        "summary": "Get name involvements",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/name": {
      "get": {
        "summary": "Get names",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/radiolog": {
      "get": {
        "summary": "Get radio logs",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/incidents/reclog": {
      "get": {
        "summary": "Get incident reclogs",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/spillman/table": {
      "get": {
        "summary": "Get Spillman tables",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/spillman/table/list": {
      "get": {
        "summary": "Get Spillman table list",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/spillman/unit/status": {
      "get": {
        "summary": "Get Spillman unit status",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    },
    "/spillman/unit": {
      "get": {
        "summary": "Get Spillman units",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        }
      }
    }
  }
}
